extends layout.pug
block title 
    title Create a blog
block content 
    header
        div
            div
                h2 Create a post
    section
        div
            div
                div 
                    div
                        form(method='post')
                            if error
                                p.errorwithpost There are empty boxes. Try again
                            if success
                                p.successwithpost The post has been published
                            label Author
                            div
                                input(type='text' name='Author')
                            label Title
                            div
                                input(type='text' name='Title')
                            label Post
                            div
                                textarea.form-control.flex-grow-1(rows='10' name='Post')
                            div
                                button(type='submit' value='Post') Post
                                button(type='submit' value='Draft') Save as a draft
    section
        div
            div
                div
                    div
                        h2 Create a post which you may also save as draft in the most convenient way.
