extends layout.pug
block title 
    title Drafts
block content
    header
        div
            div
                h2 Drafts
    section 
        div
            if deleted
                 span.errorwithpost Draft deleted
            each draft in drafts
                div
                    a(href=`/drafts/${draft.id}`) #{draft.title}
                    div
                        a(href=`/${draft.id}/post`) Post
                        a(href=`/${draft.id}/deletedraft`) Delete
                               
    section
        div
            div
                div
                    div
                        h2 Read, post and delete your drafts in the most convenient way&nbsp;
