extends layout.pug
block title 
    title Detail page
block content
    header
        div
            div
                h2 Read the draft
    div
        h2 #{ draft.title }
    section
        h4
            em #{ draft.author }
    article
        div
            div
                p
                    | #{ draft.post }
    section
        div
            div
                div
                    div
                        h2 Read your drafts in the most convenient way&nbsp;