extends layout.pug
block title 
    title Homepage
block content
    header
        div
            div
                h2 One click and let your posts spread throughout the globe.
                a(role='button' href='/create') Create a post
    section
        div
            div
                div
                    div
                        h2 Create blogs in the most convenient way
                        p
                            | Got bored with complicated blog platforms, huh? This is not the case in our website. Just fell relaxed and publish your posts.