extends layout.pug
block title 
    title Detail page
block content
    header
        div
            div
                h2 Read the article
    div.container
        h2 An awesome title
    section
        h4
            em The author&apos;s name
    article
        div
            div
                p
                    | Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center &mdash; an equal earth which all men occupy as equals. The airman&apos;s earth, if free men make it, will be truly round: a globe in practice, not in theory.
    section
        div
            div
                div
                    div
                        h2 Read your posts in the most convenient way&nbsp;