extends layout.pug
block title 
    title Detail page
block content
    header.text-center.text-white.masthead(style='border-color: var(--gray);background: var(--purple);')
        div.masthead-content
            div.container
                h2.masthead-subheading.mb-0(style='text-align: center;color: var(--white);') Read the article
    div.container
        h2.text-center(style='margin: 20px;margin-bottom: 10px;') #{ post.title }
    section
        h4.text-center.text-secondary(style='font-size: 20px;margin-bottom: 20px;')
            em #{ post.author }
    article
        div.row
            div.col-md-10.col-lg-8.mx-auto
                p
                    | #{ post.post }
    section
        div.container
            div.row.align-items-center
                div.col
                    div.p-5
                        h2.display-4.text-center(style='font-size: 30px;') Read your posts in the most convenient way&nbsp;