extends layout.pug
block title 
    title Detail page
block content
    header
        div
            div
                h2 Read the article
    div.container
        h2 #{post.title}
    section
        h4
            em #{post.author}
    article
        div
            div
                p
                    | #{post.post}
    section
        div
            div
                div
                    div
                        h2 Read your posts in the most convenient way&nbsp;