extends layout.pug
block title 
    title All posts
block content
    header
        div
            div
                h2 All posts
    
    section 
        div
            each post in posts
                div
                    a(href=`/posts/${post.id}`) #{post.title}
                    div
                        a(href="/update" style="margin: 5px") Edit
                        a(href="/delete" style="margin: 5px; background: red") Delete
    section
        div
            div
                div
                    div
                        h2 Read, edit and delete your posts in the most convenient way&nbsp;