extends layout.pug
block title 
    title Update page
block content 
    header
        div
            div
                h2 Update
    section
        div
            div
                div 
                    div
                        form(method='post')
                            if error
                                p.errorwithpost There are empty boxes. Try again
                            if success
                                p.successwithpost The item has been updated
                            label Author
                            div
                                input(type='text' name='author')
                            label
                            div
                                input.form-control(type='text' name='title')
                            label Post
                            div
                                textarea(rows='10' name='post')
                            div
                                button(type='submit') Save
    section
        div
            div
                div
                    div
                        h2 Update your post or draft in the most convenient way.
